Package: com.silentpwn.modmenu
Name: SilentPwn Mod Menu
Version: 1.0.0
Architecture: iphoneos-arm
Description: Feature-rich mod menu for SilentPwn
Maintainer: Batchh
Author: YourName
Section: Tweaks
Depends: mobilesubstrate
Homepage: https://iosgods.com
