Package: com.lockedmax.darkscript2
Name: DarkScript2
Depends: mobilesubstrate, firmware (>= 14.0)
Architecture: iphoneos-arm
Description: Mon nouveau tweak DarkScript
Version: 1.0.0
Author: Lockedmax
Section: Tweaks
